<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Welcome to Spring AI with Ollama!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style type="text/css">
    .formfield {
        display: flex;
        align-items: top;
    }

    .divvy {
        margin-left: 108px;
    }
</style>

<body>
    <h2>Welcome to Spring AI with Ollama!</h2>

    <!-- Get Input Message -->
    <form id="msgform" name="msgform" action="#" method="get" th:action="@{/ai}">
        <div class="formfield">
            <label for="message">Chat Message: </label>
            <textarea name="message" id="message" style="width:500px; height:50px; margin-left: 1em;"
                th:text="${param.message}">default</textarea>
        </div>

        <div class="divvy">
            <i>Press Enter to submit, Shift+Enter for a newline.</i> <br><br>
            <input type="submit" name="submitForm" value="Submit"></input>
            &nbsp;
            <!-- <button type="button" onclick="document.getElementById('message').value = ''" ; return false;>Clear</button> -->
            <button type="button" onclick="clearFunction();">Clear</button>
        </div>
    </form>

    <!-- AI Output Text -->
    <br><br>
    <pre th:text="|Result: ${result}|" />

    <!-- Javascript -->
    <script>
        function submitOnEnter(event) {
            if (event.which === 13 && !event.shiftKey) {
                if (!event.repeat) {
                    document.getElementById("msgform").requestSubmit();
                }
                event.preventDefault(); // Prevents the addition of a new line in the text field
            }
        }

        function clearFunction() {
            let msg = document.getElementById("message");
            msg.value = '';
            msg.focus();
            return false;
        }

        //Anonymous function invoked on load.
        (function () {
            let msg = document.getElementById("message");
            msg.selectionStart = msg.selectionEnd = msg.value.length;
            msg.focus();
        })();

        document.getElementById("message").addEventListener("keydown", submitOnEnter);

        document.getElementById("msgform").addEventListener("submit", (event) => {
            // event.preventDefault();  //Disable Submission (for testing)
            console.log("form submitted");
            // console.log(event)
        });
    </script>
</body>

</html>