header {
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
    padding: 15px;
}

header .logo {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
}

main {
    margin-top: 130px;
    margin-left: 20px;
    font-size: 16px;
}

body {
    background-color: #f4f4f4;
}

pre {
    /* Breaks long words (like a single URL or token) if necessary */
    word-break: break-all; 
    
    /* Ensures lines wrap instead of overflowing the container */
    white-space: pre-wrap; 
}